

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.fb-comments, .fb-comments iframe[style] {width: 100% !important;}
.fb-comments, .fb-comments span {width: 100% !important;}















